<div class="container-fluid">
  <h1>Merge Sort</h1>
  <h3>Mistakes: {{ mistakeCount }}</h3>
  <mat-form-field>
    <mat-select [(value)]='selectedArrayLength' (selectionChange)="startNewGame()" placeholder="Array Length">
      <mat-option *ngFor="let arrayLength of possibleArrayLengths" [value]="arrayLength">
        {{ arrayLength }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="startNewGame()">Start new game</button>
  <app-merge-sort-array [array]="array"></app-merge-sort-array>
  <div class="row" *ngIf="!array.isSorted">
    <div *ngFor="let step of possibleSteps" class="col-sm-6">
      <app-step [step]="step" (clicked)="onStepSelected($event)"></app-step>
    </div>
  </div>
  <div *ngIf="array.isSorted" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{ successMessage }}
  </div>
</div>
